@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);
.ferramenta {
  color: #4bb1b1;
}
.classe {
  color: #ef7c61;
}
.string {
  color: #bcd42a;
}
.arquivo {
  color: #EDAE66;
}
.phpkeyword {
  color: #DB2784;
}
body {
  background: #333;
  height: 100vh;
  overflow: hidden;
}
body .pad {
  padding: 3% 10%;
}
body .pad h1 {
  color: #e9e4e5;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 100%;
}
body .pad h1 img {
  max-width: 60px;
  vertical-align: -18px;
  margin-right: 10px;
}
body .pad h1 small {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
}
body .pad h2 {
  color: #e9e4e5;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 100%;
  margin-bottom: 0;
}
body .pad ul {
  margin: 3px 0 25px 0;
  list-style: none;
  padding-left: 20px;
}
body .pad ul li {
  color: #e9e4e5;
  line-height: 140%;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 16px;
  font-weight: normal;
}
body .pad ul li a {
  color: #BED4A9;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body .pad ul li a:active,
body .pad ul li a:visited {
  color: #BED4A9;
}
body .pad ul li a:hover {
  color: #768F5E;
}
