@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);

.pt(@fsize:14px, @fweight:normal){
	font-family: 'PT Sans Narrow', sans-serif;
	font-size:@fsize;
	font-weight: @fweight;
}

.ferramenta{
	color:#4bb1b1;
}
.classe{
	color:#ef7c61;
}
.string{
	color:#bcd42a;
}
.arquivo{
	color:#EDAE66;
}
.phpkeyword{
	color:#DB2784;
}
.transition(@prop:all, @dur:.3s, @type:ease-in){
	-webkit-transition:@prop @dur @type;
   -moz-transition:@prop @dur @type;
   -o-transition:@prop @dur @type;
   transition:@prop @dur @type;
}

body{
	background:#333;
	height:100vh;
	overflow:hidden;
	.pad{
		padding:3% 10%;
		h1{
			color:#e9e4e5;
			.pt(24px, bold);
			line-height:100%;
			img{
				max-width:60px;
				vertical-align:-18px;
				margin-right:10px;
			}
			small{
				.pt(14px, normal);
				font-style: italic;
			}
		}
		h2{
			color:#e9e4e5;
			.pt(18px, bold);
			line-height:100%;
			margin-bottom:0;
		}
		ul{
			margin:3px 0 25px 0;
			list-style:none;
			padding-left:20px;
			li{
				color:#e9e4e5;
				line-height:140%;
				.pt(16px, normal);
				&.destaque{}
				a{
					color:#BED4A9;
					.transition;
					&:active, &:visited{color:#BED4A9;}
					&:hover{color:#768F5E;}
				}
			}
		}
	}	
}